.navId {
    height: 100px;
    background-color: #e62e00; /* Cambia questo colore con quello che preferisci */
    padding: 20px; /* Aggiungi spaziatura interna per migliorare l'aspetto */
}
.headerButton {
    background-color: #ff704d;
    /* Cambia questo colore con quello che preferisci */
    color: white;
    border: none;
    margin: 30px 5px;
    text-decoration: none;
    cursor: pointer;
    padding: 30px;
}

.userBadge{
    border-radius: 25px;
    width: 500px;
    border: 1px solid black;

}
.imgBadge{
    border: 1px solid black;
    border-radius: 25px;
}
