.navId {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 3;
    background-color: #e62e00; /* Cambia questo colore con quello che preferisci */
    padding: 20px; /* Aggiungi spaziatura interna per migliorare l'aspetto */
}
.headerButton {
    background-color: #ff704d;
    /* Cambia questo colore con quello che preferisci */
    color: white;
    border: none;
    margin: 30px 5px;
    text-decoration: none;
    cursor: pointer;
    padding: 30px;
}

.userBadge{
    padding: 20px;
    margin: 300px;
    border-radius: 25px;
    width: 700px;
    border: 1px solid black;

}
.imgBadge{
    border: 1px solid black;
    border-radius: 25px;
    width: 120px;
}

.teamDiv{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 25px;
    border: 1px solid green;
    flex-wrap: wrap;


}

#bodyPage {
    display: flex; /* Imposta il layout flessibile */
    align-items: center; /* Centra gli elementi lungo l'asse trasversale (verticale) */
    justify-content: center; /* Centra gli elementi lungo l'asse principale (orizzontale) */
}

.pokemonDescription{
   display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: calc(33% - 20px);

}

.description {
    display: flex;
    margin-left: 10px; /* Aggiungi spazio tra l'immagine e il paragrafo */
}

.pokemonAnimation{

    position: absolute;
    width: 500px;
    z-index: 2;
    opacity: 0; /* Inizialmente invisibile */

}

#imgAnimation1-1{
    float:right;
    right: 0;
    transform: translateX(-100%); /* Posizione iniziale fuori dalla schermata a sinistra */
    animation: fadeInRight 1s ease-out forwards; /* Animazione con durata di 1 secondo */
}

@keyframes fadeInRight {
    to {
        opacity: 1; /* Opacità finale 1 (completamente visibile) */
        transform: translateX(0); /* Posizione finale a destra */
    }
}

#imgAnimation2-1{
    float: left;
    left: 0;
    transform: translateX(100%); /* Posizione iniziale fuori dalla schermata a sinistra */
    animation: fadeInLeft 1s ease-out forwards; /* Animazione con durata di 1 secondo */
}


@keyframes fadeInLeft {
    to {
        opacity: 1; /* Opacità finale 1 (completamente visibile) */
        transform: translateX(0); /* Posizione finale a destra */
    }
}
